body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

h2 {
  text-align: center;
  margin-top: 10px;
  color: #666;
}

.calculadora {
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(68, 68, 68, 0.1);
}
.resultado{
  color: rgb(127, 127, 127);
  padding-top: 1rem;
  font-size: 1.6rem;
}
#numero{
  width: 140px;
  height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #eee;
  border: none;
  border-radius: 5px;

}

button{
  width: 150px;
  height: 35px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #eee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button ,input{
  background-color: #ddd;
}

button{
  margin-right: 0;
}